In [27]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [28]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-09-12 16:59:13,42.60,-73.97,70.00,65,22,6.06
1,1,Vaini,TO,2020-09-12 17:01:42,-21.20,-175.20,68.00,68,35,8.05
2,2,Koutiala,ML,2020-09-12 17:06:36,12.39,-5.46,85.98,67,69,2.71
3,3,Luanda,AO,2020-09-12 17:01:46,-8.84,13.23,77.00,73,1,9.17
4,4,Twin Falls,US,2020-09-12 17:06:36,42.56,-114.46,73.00,20,75,6.93

In [29]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [30]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer.# Get the maximum temperature.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [31]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of Percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Add a center and Zoom.  30 deg north 31 east
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
## Assign the heatmap variable.# dissipation default is True. Set to False
# max_intensity - makes each measurement have a better gradiant variance
# point_radius - point radius size
heat_layer = gmaps.heatmap_layer(locations,weights=cloudiness,dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of Percent Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Wind Speed
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure()
# Add a center and Zoom.  30 deg north 31 east
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
## Assign the heatmap variable.# dissipation default is True. Set to False
# max_intensity - makes each measurement have a better gradiant variance
# point_radius - point radius size
heat_layer = gmaps.heatmap_layer(locations,weights=wind_speed,dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Koutiala,ML,2020-09-12 17:06:36,12.39,-5.46,85.98,67,69,2.71
3,3,Luanda,AO,2020-09-12 17:01:46,-8.84,13.23,77.00,73,1,9.17
8,8,Hithadhoo,MV,2020-09-12 17:00:49,-0.60,73.08,81.95,77,22,9.78
9,9,Badou,TG,2020-09-12 17:06:36,7.58,0.60,80.31,80,57,2.57
17,17,Humen,CN,2020-09-12 17:06:37,22.82,113.67,80.01,88,20,4.47
20,20,Atuona,PF,2020-09-12 17:01:29,-9.80,-139.03,78.31,72,96,20.45
21,21,Butaritari,KI,2020-09-12 17:01:32,3.07,172.79,81.32,74,100,13.33
23,23,De Aar,ZA,2020-09-12 17:06:37,-30.65,24.01,75.72,19,31,12.12
34,34,Pitimbu,BR,2020-09-12 17:06:38,-7.47,-34.81,84.20,51,20,19.46
38,38,Ponta Do Sol,PT,2020-09-12 17:02:21,32.67,-17.10,77.00,73,40,4.70

In [40]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2       Koutiala      ML     85.98  12.39   -5.46
3         Luanda      AO     77.00  -8.84   13.23
8      Hithadhoo      MV     81.95  -0.60   73.08
9          Badou      TG     80.31   7.58    0.60
17         Humen      CN     80.01  22.82  113.67
20        Atuona      PF     78.31  -9.80 -139.03
21    Butaritari      KI     81.32   3.07  172.79
23        De Aar      ZA     75.72 -30.65   24.01
34       Pitimbu      BR     84.20  -7.47  -34.81
38  Ponta Do Sol      PT     77.00  32.67  -17.10

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary 
    # as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
    # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Koutiala,ML,85.98,12.39,-5.46,Hotel Campement Poule Verte
3,Luanda,AO,77.00,-8.84,13.23,EPIC SANA Luanda
8,Hithadhoo,MV,81.95,-0.60,73.08,Scoop Guest House
9,Badou,TG,80.31,7.58,0.60,Auberge la Victoire
17,Humen,CN,80.01,22.82,113.67,豪门大饭店
...,...,...,...,...,...,...
574,San Francisco Menendez,SV,78.80,13.84,-90.02,
575,Morgantown,US,80.01,39.63,-79.96,Morgantown Marriott at Waterfront Place
577,Kabalo,CD,85.01,-6.05,26.92,
580,Laranjeiras Do Sul,BR,87.49,-25.41,-52.42,Hotel Palmeiras
581,Sibu,MY,75.20,2.30,111.82,RH HOTEL (4 Star)

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
#info_box_template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [57]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))